<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095214271266-kk94t1q12j9s311maemocs178rs16m7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095214271266-kk94t1q12j9s311maemocs178rs16m7v</string>
	<key>API_KEY</key>
	<string>AIzaSyDd4QcNbANh-aUrk4i4sGT4n63yF9U9Bfc</string>
	<key>GCM_SENDER_ID</key>
	<string>1095214271266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MarcoAlonso.CocoapodsExampleCLTypingLabel9</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase9-10</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase9-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095214271266:ios:47e9a6738abcc39b46337b</string>
</dict>
</plist>